################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppResourceAngular/bin/Debug/netcoreapp3.1
/AppResourceAngular/obj
