<h2> Create New </h2>
<div class="form-group m-4">
  <label for="add-data">Resource data: </label>
  <input id="add-data" #resName class="form-control" value="Stephen King"
         required minlength="3" maxlength="300" [(ngModel)]="resName.value" 
         name="name"  #name ="ngModel">
<div *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert">
  <div *ngIf="name.errors?.required">
    Data is required.
  </div>
  <div *ngIf="name.errors?.minlength">
    Data must be at least 3 characters long.
  </div>
  <div *ngIf="name.errors?.maxlength">
    Data can be max 300 characters long.
  </div>
</div>  
</div>
 
<div>
  <button (click)="add(resName.value);" class="btn btn-success">Save</button>
  <button (click)="goBack()" class="btn btn-warning">Go back</button>
</div>


